<mat-toolbar class="app-header">
    <button mat-icon-button (click)="sidenav.toggle()" aria-label="Toggle sidenav">
      <mat-icon>menu</mat-icon>
    </button>
    <span>MAGNOLIA</span>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="Favorite">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button aria-label="Share">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="over" position="start">
     
        <mat-form-field>
            <mat-label>Camp management</mat-label>
            <mat-select>
              <mat-option>None</mat-option>
              <mat-option value="option1"(click)="navigateToEdit()">profile-list</mat-option>
              <mat-option value="option2" >Camp List</mat-option>
              <mat-option value="option3" (click)="naviagteToAddnew()">Employee Registration</mat-option>
            </mat-select>
          </mat-form-field>
          
    </mat-sidenav>
  </mat-sidenav-container>

  